<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>
 <blockquote class="blue-grey-text text-lighten-2">
   Alta de Automoviles
  </blockquote>
</h1>

<div class="row">
  <form class="col s12" class="api/autos/post" method="post">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">create</i>
        <input id="icon_prefix" type="text" name="Id" class="validate">
        <label for="icon_prefix">Id</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">directions_car</i>
        <input id="icon_prefix" type="text" name="Marca" class="validate">
        <label for="icon_prefix">Marca</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">directions_car</i>
        <input id="icon_prefix" type="text" name="Modelo" class="validate">
        <label for="icon_prefix">Modelo</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
        <input id="icon_prefix" type="text" name="Año"class="validate">
        <label for="icon_prefix">Año</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">color_lens</i>
        <input id="icon_prefix" type="text" name="Color" class="validate">
        <label for="icon_prefix">Color</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">airport_shuttle</i>
        <input id="icon_prefix" type="text" name="NumPuertas" class="validate">
        <label for="icon_prefix">Numero de Puertas</label>
      </div>
    </div>
        <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">image</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Url de Imagen</label>
      </div>
    </div>
    <div align="right">
      <button class="btn waves-effect waves-light" type="submit" formmethod="post">Guardar
      <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
  

